# Servidor
PORT=3000
API_KEY=tu_clave_api_para_flutter_aqui

# Base de Datos MySQL
DB_HOST=localhost
DB_USER=iptv_user
DB_PASSWORD=secret
DB_NAME=iptv_db
DB_PORT=3306

# Integración con Google Gemini
GEMINI_API_KEY=tu_google_gemini_api_key_aqui
# Modelo de Gemini a usar (recomendado gemini-2.5-flash)
GEMINI_MODEL=gemini-2.5-flash
